.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: circle;
}

.header-logo {
    width: 148px;
    height: 105px;
}

.address-list {
    list-style: none;
    font-style: normal;
}