.header {
    margin: 92px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: circle;
}

.header-logo {
    width: 148px;
    height: 105px;
}

.address-list {
    list-style: none;
    font-style: normal;
}

.cover {
    position: relative;
    padding: 165px 50px 62px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.cover-title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 115%;
    z-index: 1;
}

.letter-spacing-60 {
    letter-spacing: 60px;
}

.title-start {
    text-align: start;
}

.title-center {
    text-align: center;
}

.title-end {
    text-align: end;
}

.direction {
    position: relative;
    padding-top: 135px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    z-index: 1;
}

.direction-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 127.273%;
    text-transform: uppercase;
    letter-spacing: 5px
}

.direction-button {
    padding: 12px 32px;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: none;
}

.card-settings {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 430px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lots {
    margin: 180px 50px;
}

.lots-title {
    padding-left: 40px;
    padding-bottom: 27px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
    color: #fff;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card-text{
    font-size: 20px;
    line-height: 120%;
    z-index: 1;
}

.card-film {
    background-image: url(/images/card-lot-01.jpg);
}

.card-book {
    background-image: url(/images/card-lot-02.jpg);
}

.card-picture {
    background-image: url(/images/card-lot-03.jpg);
}

.lots-more-link {
    display: inline-block;
    padding-top: 30px;
    padding-left: 40px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}